<div data-role="view" data-title="View" data-layout="main" data-model="app.viewType1" 
    data-init="app.viewType1.onInit" data-show="app.viewType1.onShow" data-after-show="app.viewType1.afterShow" data-before-hide="app.viewType1.beforeHide" id="viewType1Screen" class="screen">
    <div id="viewType1Model" class="form-view screen__content screen__content--form add-item-view">
        <!-- START_CUSTOM_CODE_viewType1Model -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <form>
            <div class="form-content en-list">
                <div class="form-content-item en-list-item">
                    <label id="textInstructionField" class="km-label-above field field--text-block">
                        <span class="field__label" data-bind="text: strings.viewType1.viewType1Model.editableListForm1.textInstruction.title"></span>
                        <div class="textBlock field__content">Match the words below to the pictures</div>
                    </label>
                </div>
                <div class="en-line"></div>
                <div class="en-sticky-source form-content-item en-list-item">
                    <div class="en-sticky-content"></div>
                </div>
                <div class="en-line"></div>
                <div class="form-content-item en-list-item">
                    <div class="en-list-view clearfix"></div>
                </div>
            </div>
        </form>
        <!-- END_CUSTOM_CODE_viewType1Model -->
    </div>
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: strings.viewType1.title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#/">Index</a>
        </div>
        <div class="en-sticky-panel form-content en-list" style="display:none">
            <div class="en-sticky-target form-content-item en-list-item">
            </div>
            <div class="en-line"></div>
        </div>
    </header>

    <!-- START_CUSTOM_CODE_viewType1 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!--template은 data-role=button이 작동이 되질 않는다. (그래서 km-widget km-button을 수동으로 클래스에 추가)-->
    <script type="text/x-kendo-template" class="en-buttons-template">
        <button data-role="button" class="km-widget km-button km-small en-draggable">#:word#</button>
    </script>

    <script type="text/x-kendo-template" class="en-list-template">
        <div class="en-box-panel en-droptarget pull-left">
            <div class="en-image-panel clearfix">
                <img src="#:image_src#">
                <div class="en-answer" en-word="#:word#">&nbsp;</div>
            </div>
        </div>
    </script>
    <!-- END_CUSTOM_CODE_viewType1 -->
</div>