<style>
        #listView {
            padding: 10px 5px;
            margin-bottom: -1px;
        }
        .product {
            position: relative;
            width: 150px;
            height: 150px;
            margin: 0 5px;
            padding: 0;
            border: 1px solid #efefef;
            margin-bottom: 10px;
        }
        .productitem{
            width: 100%;
            position: absolute;
            bottom: 0;
        }
        .productitem img {
            height: auto;
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .answer {
            padding-left:10px;
            width: 130px;
            height:25px;
        }
        .wrong {
            color: red;
        }

    	#drop_items {
    		padding: 60px 0 0;
    	}

        ul {
        	list-style: none;
        }

		.draggable.drag
		{
			cursor: default;
			background-color: buttonface;
		}
		
		.items_delete {
			cursor: pointer;
            display: none;
		}

</style>
<div data-role="view" data-title="View" data-layout="main" data-model="app.viewType1" data-init="app.viewType1.onInit" data-show="app.viewType1.onShow" data-after-show="app.viewType1.afterShow" id="viewType1Screen" class="screen">
    <div id="viewType1Model" class="form-view screen__content screen__content--form add-item-view">
        <!-- START_CUSTOM_CODE_viewType1Model -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <form>
            <div class="form-content e-list">
                <div class="form-content-item e-list-item">
                    <label id="textInstructionField" class="km-label-above field field--text-block">
                        <span class="field__label" data-bind="text: strings.viewType1.viewType1Model.editableListForm1.textInstruction.title"></span>
                        <div class="textBlock field__content">Match the words below to the pictures</div>
                    </label>
                </div>
                <div class="e-line"></div>
                <div id="sticky_source" class="form-content-item e-list-item">
                    <div id="sticky_content">
                        <button data-role="button" class="km-small draggable">kind</button>
                        <button data-role="button" class="km-small draggable">brave</button>
                        <button data-role="button" class="km-small draggable">spoiled</button>
                        <button data-role="button" class="km-small draggable">generous</button>
                        <button data-role="button" class="km-small draggable">idiot</button>
                        <button data-role="button" class="km-small draggable">cool</button>
                        <button data-role="button" class="km-small draggable">messy</button>
                        <button data-role="button" class="km-small draggable">genius</button>
                        <button data-role="button" class="km-small draggable">immature</button>
                    </div>
                </div>
                <div class="e-line"></div>
                <div class="form-content-item e-list-item">
                    <div id="listView" class="clearfix">
                        <div class="product droptarget pull-left">
                            <div class="productitem clearfix">
                                <img src="resources/Picture1.png">
                                <div class="answer pull-left" e-word="cool">&nbsp;</div>
                                <div class="items_delete pull-left">x</div>
                            </div>
                        </div>
                        <div class="product droptarget pull-left">
                            <div class="productitem clearfix">
                                <img src="resources/Picture2.png">
                                <div class="answer pull-left" e-word="kind">&nbsp;</div>
                                <div class="items_delete pull-left">x</div>
                            </div>
                        </div>
                        <div class="product droptarget pull-left">
                            <div class="productitem clearfix">
                                <img src="resources/Picture3.png">
                                <div class="answer pull-left" e-word="immature">&nbsp;</div>
                                <div class="items_delete pull-left">x</div>
                            </div>
                        </div>
                        <div class="product droptarget pull-left">
                            <div class="productitem clearfix">
                                <img src="resources/Picture4.png">
                                <div class="answer pull-left" e-word="spoiled">&nbsp;</div>
                                <div class="items_delete pull-left">x</div>
                            </div>
                        </div>
                        <div class="product droptarget pull-left">
                            <div class="productitem clearfix">
                                <img src="resources/Picture5.png">
                                <div class="answer pull-left" e-word="generous">&nbsp;</div>
                                <div class="items_delete pull-left">x</div>
                            </div>
                        </div>
                        <div class="product droptarget pull-left">
                            <div class="productitem clearfix">
                                <img src="resources/Picture6.png">
                                <div class="answer pull-left" e-word="messy">&nbsp;</div>
                                <div class="items_delete pull-left">x</div>
                            </div>
                        </div>
                        <div class="product droptarget pull-left">
                            <div class="productitem clearfix">
                                <img src="resources/Picture7.png">
                                <div class="answer pull-left" e-word="brave">&nbsp;</div>
                                <div class="items_delete pull-left">x</div>
                            </div>
                        </div>
                        <div class="product droptarget pull-left">
                            <div class="productitem clearfix">
                                <img src="resources/Picture8.png">
                                <div class="answer pull-left" e-word="idiot">&nbsp;</div>
                                <div class="items_delete pull-left">x</div>
                            </div>
                        </div>
                        <div class="product droptarget pull-left">
                            <div class="productitem clearfix">
                                <img src="resources/Picture9.png">
                                <div class="answer pull-left" e-word="genius">&nbsp;</div>
                                <div class="items_delete pull-left">x</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END_CUSTOM_CODE_viewType1Model -->
    </div>
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: strings.viewType1.title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#/">Index</a>
        </div>
        <div id="sticky_panel" style="display:none" class="form-content e-list">
            <div id="sticky_target" class="form-content-item e-list-item">
            </div>
        </div>
        <div id="info" style="position:absolute; bottom:0px"></div>
    </header>


    <!-- START_CUSTOM_CODE_viewType1 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->


    <!-- END_CUSTOM_CODE_viewType1 -->
</div>