.en-line {
    border-radius: 0px;
    border-top: 1px solid rgb(223, 225, 226);
}

.en-list {
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
}
.en-list > .en-list-item {
    overflow: hidden;
    font-size: 1.2em;
    line-height: 1.5em;
    background: transparent;
    padding: 1.09em 0.84em 1.23em;
    color: rgb(50, 54, 76);
    border-color: rgb(223, 225, 226);
}
.en-list > .en-list-item label {
    color: #9da2a4;
}

.en-draggable.en-drag {
    cursor: default;
    background-color: buttonface;
}


.en-table-borderless > tbody > tr > td, .en-table-borderless > tbody > tr > th, .en-table-borderless > tfoot > tr > td, .en-table-borderless > tfoot > tr > th, .en-table-borderless > thead > tr > td, .en-table-borderless > thead > tr > th {
    border: none;
}
.en-table-align-middle > tbody > tr > td, .en-table-align-middle > tbody > tr > th, .en-table-align-middle > tfoot > tr > td, .en-table-align-middle > tfoot > tr > th, .en-table-align-middle > thead > tr > td, .en-table-align-middle > thead > tr > th {
     vertical-align: middle;
}
.en-table-nopadding > tbody > tr > td, .en-table-nopadding > tbody > tr > th, .en-table-nopadding > tfoot > tr > td, .en-table-nopadding > tfoot > tr > th, .en-table-nopadding > thead > tr > td, .en-table-nopadding > thead > tr > th {
    padding: 0 5px;
}

.en-table-blank {
    border-bottom:2px solid gray;
    height:100%;
    color: navy;
    min-width:35px;
    min-height:28px;
    cursor: pointer;  
}
.en-font-small {
    font-size:0.8em;
}

.en-table-word {
    cursor: pointer;  
}
.en-table-blank.selected {
    border-bottom: 2px solid #0000ff;
}
.en-table-word.selected {
    color: blue;
}


.en-table-simple-list {
    width: 100%;
    border-spacing: 0;
    border-top: 1px solid #dadada;
    border-left: 1px solid #dadada;
    table-layout: fixed;
}
.en-table-simple-list thead th {
    text-align: center;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    background-color: #eeeeee;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.en-table-simple-list thead td {
    text-align: left;
    padding: 0 10px;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.en-table-simple-list tbody th {
    text-align: center;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    background-color: #f0f0f0;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.en-table-simple-list tbody td {
    text-align: left;
    padding: 0 10px;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.en-table-simple-list tbody td.center {
    text-align: center;
}
.en-table-simple-list tbody td.numeric {
    text-align: right;
}


#viewType1Screen .en-list-view {
    padding: 10px 5px;
    margin-bottom: -1px;
}
#viewType1Screen .en-box-panel {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 5px;
    padding: 0;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
#viewType1Screen .en-image-panel {
    width: 100%;
    position: absolute;
    bottom: 0;
}
#viewType1Screen .en-image-panel img {
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#viewType1Screen .en-answer {
    padding-left:10px;
    padding-right:10px;
    overflow: hidden;
    width: 100%;
    height:25px;
    text-align: center;
}
#viewType1Screen .en-droptarget {
    border-color: #efefef;
    border-width: 1px;
}
#viewType1Screen .en-droptarget.en-draggable-target {
    border-color: #000088;
    border-width: 2px;
}
#viewType1Screen .en-fix-width {
    width: 150px !important;
    height: auto !important;
}
#viewType1Screen .en-fix-height {
    width: auto !important;
    height: 120px !important;
}

#viewType2Screen .en-content {
    margin-top: 20px;
    margin-left: 0;
    padding-left: 10px;
    list-style-type: none;
}
#viewType2Screen .en-content-item {
    margin: 0 0 5px;
}
#viewType2Screen .en-content-item div.pull-left {
    height: 35px;
    line-height: 30px;
    text-align: center;
    padding-right: 5px;
}
#viewType2Screen .km-widget.km-buttongroup.pull-left {
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-right: 10px;
}

#viewType2Screen .en-content-item div.pull-left:first-child {
    margin-left: -5px;
}
#viewType2Screen .km-buttongroup {
    margin: auto;
}
#viewType2Screen .km-button.km-state-active .km-text {
    -webkit-text-fill-color: initial;
    color: navy;
}

#viewType4Screen .en-good-bad-buttons-content, #viewType4Screen .en-adjectives-nouns-buttons-content {
    margin-bottom: 10px;
}
#viewType4Screen .en-droptarget {
    vertical-align: top;
    min-height: 150px;
    border: 1px solid transparent;
}
#viewType4Screen .en-droptarget.en-draggable-target {
    margin-left: -9px;
    margin-right: -9px;
    padding-left: 8px;
    border-color: #000088;
    border-width: 2px;
}

#viewType5Screen mark {
    cursor: pointer;  
}
#viewType5Screen mark.en-no-mark {
    background: transparent;
    cursor: default;
}

#viewType7Screen .en-droptarget {
    border-bottom: 2px solid gray;
}
#viewType7Screen .en-droptarget.en-draggable-target {
    border-bottom: 2px solid #000088;
}
#viewType7Screen .table {
    margin-bottom: 0;
}