.en-table-borderless > tbody > tr > td, .en-table-borderless > tbody > tr > th, .en-table-borderless > tfoot > tr > td, .en-table-borderless > tfoot > tr > th, .en-table-borderless > thead > tr > td, .en-table-borderless > thead > tr > th {
    border: none;
}
.en-table-align-middle > tbody > tr > td, .en-table-align-middle > tbody > tr > th, .en-table-align-middle > tfoot > tr > td, .en-table-align-middle > tfoot > tr > th, .en-table-align-middle > thead > tr > td, .en-table-align-middle > thead > tr > th {
     vertical-align: middle;
}
.en-table-nopadding > tbody > tr > td, .en-table-nopadding > tbody > tr > th, .en-table-nopadding > tfoot > tr > td, .en-table-nopadding > tfoot > tr > th, .en-table-nopadding > thead > tr > td, .en-table-nopadding > thead > tr > th {
    padding: 0 5px;
}
.table.en-table-mb {
    margin-bottom: 0;
}

.en-line {
    border-radius: 0px;
    border-top: 1px solid #dadada;
}
.en-vline {
    border-left: 1px solid #dadada;
}

.en-list {
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
}
.en-list > .en-list-item {
    overflow: hidden;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 1.09em 0.84em 1.23em;
    color: #32364c;
}
.en-list > .en-list-item label {
    color: #9da2a4;
}

.en-image-list-content {
    padding: 10px 5px;
    margin-bottom: -1px;
}

.en-box-panel {
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px solid #dadada;
    padding: 0;
    margin: 0 0 10px 10px;
}

.en-image-panel {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.en-image-panel img {
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.en-fixed-width {
    width: 150px !important;
    height: auto !important;
}
.en-fixed-height {
    width: auto !important;
    height: 120px !important;
}

.en-dragdrop-answer {
    padding-left:10px;
    padding-right:10px;
    overflow: hidden;
    width: 100%;
    height:25px;
    text-align: center;
}

.en-sentence-content {
    margin-top: 20px;
    margin-left: 0;
    padding-left: 10px;
    list-style-type: none;
}
.en-word-content {
    margin: 0 0 5px;
}
.en-word-content .en-word-item {
    height: 35px;
    line-height: 30px;
    text-align: center;
    padding-right: 5px;
}
.en-word-content .en-word-item:first-child {
    margin-left: -5px;
}
.en-word-content .en-buttongroup-item {
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-right: 10px;
}
.en-word-content .en-buttongroup-item.km-buttongroup {
    margin: auto;
}
.en-buttongroup-item .km-text {
    -webkit-text-fill-color: initial;
    color: navy;
}

.en-bottom-blank {
    border-bottom:2px solid gray;
    height:100%;
    color: navy;
    min-width:45px;
    min-height:28px;
    cursor: pointer;
}
.en-bottom-blank.selected {
    border-bottom: 2px solid blue;
}

.en-cols-word {
    cursor: pointer;
}
.en-cols-word.selected {
    color: blue;
}

.en-font-small {
    font-size:0.8em;
}

.en-question-box {
    border: 1px solid #dadada;
    width: 100%;
    position:relative;
}
.en-clinebox {
    background-color: #FC0019;
    min-height:135px;;
    width: 100%;
    padding: 0 10px;
}
.en-clinebox-answer {
    background-color: #ffffff;
    text-align: center;
    padding:5px 5px;
    margin:10px 0;
    border-radius: 5px;
    min-height:36px;
}
.en-valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* vendor prefixes omitted due to brevity */
}

.en-draggable.en-drag {
    cursor: default;
    background-color: buttonface;
    z-index: 10000;
}
.en-draggable.en-text-drag {
    background-color: transparent;
    z-index: 10000;
}
.en-draggable.en-dragdrop-clone {
    font-size: 1.5em;
    
}
.en-droptarget {
    border: 1px solid #dadada;
}
.en-droptarget.en-droptarget-over {
    border: 2px solid #000088;
}
.en-list-droptarget {
    vertical-align: top;
    min-height: 150px;
    border-color: transparent;
}
.en-list-droptarget.en-droptarget-over {
    border: 2px solid #000088;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: -1px;
    padding-left: 1px;
    padding-top: -3px;
}
.en-blank-droptarget {
    border: none;
    border-bottom:2px solid gray;
    height: 25px;
}
.en-blank-droptarget.en-droptarget-over {
    border: none;
    border-bottom:2px solid #000088;
}
