<style>
    .found {
        color: red;
        font-weight: bold;
    }
</style>
<div data-role="view" data-title="View" data-layout="main" data-model="app.viewType6" data-init="app.viewType6.onInit" data-show="app.viewType6.onShow" data-after-show="app.viewType6.afterShow" id="viewType6Screen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <a data-role="backbutton" data-align="left">Back</a>

            <span data-bind="text: strings.viewType6.title"></span>

            <a data-align="right" data-role="button" class="nav-button" href="#/">Index</a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_viewType6 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    Read the text again and click any words which make language/feelings stronger<br/>
                    E.g. The family I’m staying with is <b style="color:red">really</b> nice
                </li>
                <li class="form-content-item">
I’m having a great time in Paris. There are lots of interesting things to see and do.<br/><br/>

The family I’m staying with is <span class="clickanswer">really</span> nice. The mum and dad (Christine and Patrick) are <span class="clickanswer">very</span> kind and they do everything they can to make me feel at home. They’re <span class="clickanswer">really</span> kind to their children too. They’re <span class="clickanswer">such</span> good parents.<br/><br/>

They’ve got two sons, Robert and Frank. Robert is the oldest. He’s 19 and <span class="clickanswer">really</span> good-looking. He’s got lots of friends, but he’s also been <span class="clickanswer">really</span> friendly to me. He even took me to a party on Friday. He’s <span class="clickanswer">so</span> cool!<br/><br/>

Frank is the younger son and he’s 11. He always has lots of candy and ice cream but he never shares it with me. He’s <span class="clickanswer">so</span> selfish.<br/><br/>

I had to babysit him last weekend and he made <span class="clickanswer">such</span> a mess everywhere I had to spend the whole evening clearing up after him!<br/><br/>

Another thing is that he’s always playing computer games in the living room when I want to watch TV. He’s <span class="clickanswer">so</span> annoying! I know he’s only 11, but he’s <span class="clickanswer">such</span> an idiot!<br/><br/>

Anyway, I think it’ll be ok if they don’t ask me to babysit him again!<br/><br/>

I’ll be back in 2 weeks. See you then!<br/><br/>
                </li>
                <li>
                    test
                </li>
            </ul>
    <!-- END_CUSTOM_CODE_viewType6 -->
</div>