en-droptarget-over<div data-role="view" data-title="View" data-layout="main" data-model="app.viewType7" data-init="app.viewType7.onInit" data-show="app.viewType7.onShow" data-after-show="app.viewType7.afterShow" data-before-hide="app.viewType7.beforeHide" id="viewType7Screen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: strings.viewType7.title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#/">Index</a>
        </div>
    </header>

    <!-- START_CUSTOM_CODE_viewType7 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="form-content en-list">
        <div class="form-content-item en-list-item">
            <label id="textInstructionField" class="km-label-above field field--text-block">
                <span class="field__label" data-bind="text: strings.viewType1.viewType1Model.editableListForm1.textInstruction.title"></span>
                <div class="textBlock field__content">Look at the sentences and put the parts of speech in the gaps</div>
            </label>
        </div>
        <div class="en-line"></div>
        <div class="form-content-item en-list-item">
            <table class="table table-bordered en-table-mb">
                <tr>
                    <td class="active">
                        <b>(+) Positive Form</b>
                    </td>
                </tr>
                <tr height="100%">
                    <td width="100%">
                        <table border="0" class="table en-table-borderless table-condensed en-table-align-middle en-table-nopadding en-table-mb">
                            <tr>
                                <td>
                                    I<br/>
                                    You<br/>
                                    He/She/It<br/>
                                    We/They
                                </td>
                                <td>can</td>
                                <td>play</td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="margin:10px 0;">
                                        <div class="en-bottom-blank en-font-small" en-compare="positive_form" en-word="subject"></div>
                                    </div>
                                </td>
                                <td>
                                    <div style="margin:10px 0;">
                                        <div class="en-bottom-blank en-font-small" en-compare="positive_form" en-word="modal verb (+)"></div>
                                    </div>
                                </td>
                                <td>
                                    <div style="margin:10px 0;">
                                        <div class="en-bottom-blank en-font-small" en-compare="positive_form" en-word="V1 (infinitive)"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="en-positive-form-buttons">
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="form-content-item en-list-item">
            <table class="table table-bordered en-table-mb">
                <tr>
                    <td class="active">
                        <b>(-) Negative Form</b>
                    </td>
                </tr>
                <tr height="100%">
                    <td width="100%">
                        <table border="0" class="table en-table-borderless table-condensed en-table-align-middle en-table-nopadding en-table-mb">
                            <tr>
                                <td>
                                    I<br/>
                                    You<br/>
                                    He/She/It<br/>
                                    We/They
                                </td>
                                <td style="padding-right:10px;">
                                    can't<br/>
                                    <div class="en-bottom-blank" en-compare="negative_form" en-word="cannot"></div>
                                </td>
                                <td>play</td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="margin:10px 0;">
                                        <div class="en-bottom-blank en-font-small" en-compare="negative_form" en-word="subject"></div>
                                    </div>
                                </td>
                                <td>
                                    <div style="margin:10px 0;">
                                        <div class="en-bottom-blank en-font-small" en-compare="negative_form" en-word="modal verb (-)"></div>
                                    </div>
                                </td>
                                <td>
                                    <div style="margin:10px 0;">
                                        <div class="en-bottom-blank en-font-small" en-compare="negative_form" en-word="V1 (infinitive)"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="en-negative-form-buttons">
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="form-content-item en-list-item">
            <table class="table table-bordered en-table-mb">
                <tr>
                    <td class="active">
                        <b>(?) Question Form</b>
                    </td>
                </tr>
                <tr height="100%">
                    <td width="100%">
                        <table border="0" class="table en-table-borderless table-condensed en-table-align-middle en-table-nopadding en-table-mb">
                            <tr>
                                <td>Can</td>
                                <td>
                                    I<br/>
                                    You<br/>
                                    He/She/It<br/>
                                    We/They
                                </td>
                                <td>play....?</td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align:bottom;">
                                    <div style="margin:10px 0;">
                                        <div class="en-bottom-blank en-font-small" en-compare="question_form" en-word="modal verb (+)"></div>
                                    </div>
                                </td>
                                <td style="vertical-align:bottom;">
                                    <div style="margin:10px 0;">
                                        <div class="en-bottom-blank en-font-small" en-compare="question_form" en-word="subject"></div>
                                    </div>
                                </td>
                                <td style="vertical-align:bottom;">
                                    <div style="margin:10px 0;">
                                        <div class="en-bottom-blank en-font-small" en-compare="question_form" en-word="V1 (infinitive)"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="en-question-form-buttons">
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="form-content-item en-list-item">
            <table class="table table-bordered en-table-mb">
                <tr>
                    <td class="active">
                        <b>Short answers</b>
                    </td>
                </tr>
                <tr height="100%">
                    <td width="100%">
                        <table border="0" class="table en-table-borderless en-table-align-middle en-table-mb">
                            <tr>
                                <td>
                                    <div style="margin:10px 0;">
                                        <div class="en-bottom-blank pull-left" en-compare="short_answers" en-word="can"></div>
                                        <div class="pull-left">&nbsp; you go shopping?</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="margin:10px 0;">
                                        <div class="pull-left">Yes, you &nbsp;</div>
                                        <div class="en-bottom-blank pull-left" en-compare="short_answers" en-word="can"></div>
                                        <div class="pull-left">.</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="margin:10px 0;">
                                        <div class="pull-left">No, you &nbsp;</div>
                                        <div class="en-bottom-blank pull-left" en-compare="short_answers" en-word="can't"></div>
                                        <div class="pull-left">.</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="en-short-answers-buttons">
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <!--template은 data-role=button이 작동이 되질 않는다. (그래서 km-widget km-button을 수동으로 클래스에 추가)-->
    <script type="text/x-kendo-template" class="en-positive-form-template">
        <button data-role="button" class="km-widget km-button km-small en-button" en-compare="#:compare#">#:word#</button>
    </script>

    <script type="text/x-kendo-template" class="en-negative-form-template">
        <button data-role="button" class="km-widget km-button km-small en-button" en-compare="#:compare#">#:word#</button>
    </script>

    <script type="text/x-kendo-template" class="en-question-form-template">
        <button data-role="button" class="km-widget km-button km-small en-button" en-compare="#:compare#">#:word#</button>
    </script>

    <script type="text/x-kendo-template" class="en-short-answers-template">
        <button data-role="button" class="km-widget km-button km-small en-button" en-compare="#:compare#">#:word#</button>
    </script>
    <!-- END_CUSTOM_CODE_viewType7 -->
</div>