<div data-role="view" data-title="View" data-layout="main" data-model="app.viewType4" data-init="app.viewType4.onInit" data-show="app.viewType4.onShow" data-after-show="app.viewType4.afterShow" data-before-hide="app.viewType4.beforeHide" id="viewType4Screen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: strings.viewType4.title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#/">Index</a>
        </div>
    </header>

    <!-- START_CUSTOM_CODE_viewType4 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <form>
        <div class="form-content en-list">
            <div class="form-content-item en-list-item">
                a) Put the words in the right column
            </div>
            <div class="en-line"></div>
            <div class="form-content-item en-list-item">
                <div class="en-good-bad-buttons-content"></div>
                <div>
                    <table class="en-table-simple-list">
                        <colgroup>
                            <col width="50%" />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>(+) Positive (Good)</th>
                                <th>(-) Negative (Bad)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="en-droptarget" en-word="good"></div>
                                </td>
                                <td>
                                    <div class="en-droptarget" en-word="bad"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="en-line"></div>
            <div class="form-content-item en-list-item">
                b) Decide if the words are adjectives (adj) or nouns (n)
            </div>
            <div class="en-line"></div>
            <div class="form-content-item en-list-item">
                <div class="en-adjectives-nouns-buttons-content"></div>
                <div>
                    <table class="en-table-simple-list">
                        <colgroup>
                            <col width="50%" />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Adjective</th>
                                <th>Noun</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="en-droptarget" en-word="adjectives"></div>
                                </td>
                                <td>
                                    <div class="en-droptarget" en-word="nouns"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>

    <!--template은 data-role=button이 작동이 되질 않는다. (그래서 km-widget km-button을 수동으로 클래스에 추가)-->
    <script type="text/x-kendo-template" class="en-good-bad-buttons-template">
        <button data-role="button" class="km-widget km-button km-small en-draggable" en-word="#:answer#">#:word#</button>
    </script>

    <script type="text/x-kendo-template" class="en-adjectives-nouns-buttons-template">
        <button data-role="button" class="km-widget km-button km-small en-draggable" en-word="#:answer#">#:word#</button>
    </script>

    <!-- END_CUSTOM_CODE_viewType4 -->
</div>