<div data-role="view" data-title="View" data-layout="main" data-model="app.viewType2" data-show="app.viewType2.onShow" data-after-show="app.viewType2.afterShow" id="viewType2Screen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: strings.viewType2.title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#/">Index</a>
        </div>
    </header>

    <!-- START_CUSTOM_CODE_viewType2 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <form>
        <div class="form-content en-list">
            <div class="form-content-item en-list-item">
                <b>1. </b> Mary’s parents give her 10 expensive gifts every year for her birthday.
                This year she’s angry because they didn’t have enough money for 10, so they gave her 9. She’s <b>spoiled.</b>
                <div class="en-sentence-content">
                    <div class="en-word-content clearfix">
                        <div class="en-word-item pull-left">• Spoiled</div>
                        <div class="en-word-item pull-left">children</div>
                        <div class="en-word-item pull-left">are</div>
                        <div class="en-word-item pull-left">given</div>
                        <ul data-role="buttongroup" class="en-buttongroup-item pull-left">
                            <li class="km-small">a little</li>
                            <li class="km-small">enough</li>
                            <li class="km-small">too</li>
                        </ul>
                        <div class="en-word-item pull-left">much</div>
                        <div class="en-word-item pull-left">by</div>
                        <div class="en-word-item pull-left">their</div>
                        <div class="en-word-item pull-left">parents.</div>
                    </div>
                    <div class="en-word-content clearfix">
                        <div class="en-word-item pull-left">• Spoiled</div>
                        <div class="en-word-item pull-left">children</div>
                        <div class="en-word-item pull-left">often</div>
                        <div class="en-word-item pull-left">say</div>
                        <div class="en-word-item pull-left">Thank</div>
                        <div class="en-word-item pull-left">You.</div>
                        <ul data-role="buttongroup" class="en-buttongroup-item pull-left">
                            <li class="km-small">Yes</li>
                            <li class="km-small">No</li>
                        </ul>
                    </div>
                    <div class="en-word-content clearfix">
                        <div class="en-word-item pull-left">• Spoiled</div>
                        <div class="en-word-item pull-left">children</div>
                        <div class="en-word-item pull-left">are</div>
                        <div class="en-word-item pull-left">fun</div>
                        <div class="en-word-item pull-left">to</div>
                        <div class="en-word-item pull-left">be</div>
                        <div class="en-word-item pull-left">with.</div>
                        <ul data-role="buttongroup" class="en-buttongroup-item pull-left">
                            <li class="km-small">Yes</li>
                            <li class="km-small">No</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-content-item en-list-item">
                <b>2. </b> John in 40 but he still wants to go to parties and act like a teenager. He’s <b>immature</b>.
                <div class="en-sentence-content">
                    <div class="en-word-content clearfix">
                        <div class="en-word-item pull-left">• Immature</div>
                        <div class="en-word-item pull-left">people</div>
                        <div class="en-word-item pull-left">act</div>
                        <ul data-role="buttongroup" class="en-buttongroup-item pull-left">
                            <li class="km-small">older</li>
                            <li class="km-small">younger</li>
                            <li class="km-small">the same</li>
                        </ul>
                        <div class="en-word-item pull-left">as</div>
                        <div class="en-word-item pull-left">their</div>
                        <div class="en-word-item pull-left">age.</div>
                    </div>
                </div>
            </div>
            <div class="form-content-item en-list-item">
                <b>3. </b>Albert Einstein is a mathematic <b>genius</b>. Mozart was a musical <b>genius</b>.
                <div class="en-sentence-content">
                    <div class="en-word-content clearfix">
                        <div class="en-word-item pull-left">• A</div>
                        <div class="en-word-item pull-left">genius</div>
                        <div class="en-word-item pull-left">is</div>
                        <ul data-role="buttongroup" class="en-buttongroup-item pull-left">
                            <li class="km-small">good</li>
                            <li class="km-small">very good</li>
                            <li class="km-small">bad</li>
                        </ul>
                        <div class="en-word-item pull-left">at</div>
                        <div class="en-word-item pull-left">something.</div>
                    </div>
                    <div class="en-word-content clearfix">
                        <div class="en-word-item pull-left">• Being</div>
                        <div class="en-word-item pull-left">a</div>
                        <div class="en-word-item pull-left">genus</div>
                        <div class="en-word-item pull-left">is</div>
                        <ul data-role="buttongroup" data-orientation="vertical" class="en-buttongroup-item pull-left">
                            <li class="km-small">a) something you learn</li>
                            <li class="km-small">b) Something that comes from inside</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-content-item en-list-item">
                <b>4. </b>My uncle always gives money and gifts to poor people in the winter. He’s <b>generous</b>.
                <div class="en-sentence-content">
                    <div class="en-word-content clearfix">
                        <div class="en-word-item pull-left">• Generous</div>
                        <div class="en-word-item pull-left">people</div>
                        <div class="en-word-item pull-left">give</div>
                        <ul data-role="buttongroup" class="en-buttongroup-item pull-left">
                            <li class="km-small">a lot</li>
                            <li class="km-small">a little</li>
                        </ul>
                        <div class="en-word-item pull-left">to</div>
                        <div class="en-word-item pull-left">other</div>
                        <div class="en-word-item pull-left">people.</div>
                    </li>
                </div>
            </div>
        </div>
        <div class="button-group"></div>
    </form>
    <!-- END_CUSTOM_CODE_viewType2 -->
</div>