<div data-role="view" data-title="View" data-layout="main" data-model="app.viewType8" data-show="app.viewType8.onShow" data-after-show="app.viewType8.afterShow" id="viewType8Screen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <a data-role="backbutton" data-align="left">Back</a>

            <span data-bind="text: strings.viewType8.title"></span>

            <a data-align="right" data-role="button" class="nav-button" href="#/">Index</a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_viewType8 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_viewType8 -->
</div>