<style>
#viewType8Screen .en-draggable.en-drag {
    cursor: default;
    background-color: buttonface;
}
#viewType8Screen .en-droptarget {
    border-bottom:2px solid gray;
    height: 25px;
}
#viewType8Screen .en-droptarget.en-draggable-target {
    border-bottom:2px solid #000088;
}
</style>
<div data-role="view" data-title="View" data-layout="main" data-model="app.viewType8" data-init="app.viewType8.onInit" data-show="app.viewType8.onShow" data-after-show="app.viewType8.afterShow" data-before-hide="app.viewType8.beforeHide" id="viewType8Screen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: strings.viewType8.title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#/">Index</a>
        </div>
    </header>

    <!-- START_CUSTOM_CODE_viewType8 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="form-content en-list">
        <div class="form-content-item en-list-item">
            <label id="textInstructionField" class="km-label-above field field--text-block">
                <span class="field__label" data-bind="text: strings.viewType1.viewType1Model.editableListForm1.textInstruction.title"></span>
                <div class="textBlock field__content">Look at the sentences and put the parts of speech in the gaps</div>
            </label>
        </div>
        <div class="en-line"></div>
        <div class="form-content-item en-list-item">
            <div>He’s so messy</div>
            <div class="clearfix">
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions1" en-word="subject" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions1" en-word="(be) verb" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions1" en-word="so (adverb)" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions1" en-word="adjective" style="margin-right:10px">&nbsp;</div>
            </div>
            <div class="en-questions1-buttons" style="padding-top:20px">
            </div>
        </div>
        <div class="en-line"></div>

        <div class="form-content-item en-list-item">
            <div>They’re really nice</div>
            <div class="clearfix">
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions2" en-word="subject" style="margin-right:10px"></div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions2" en-word="(be) verb" style="margin-right:10px"></div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions2" en-word="really (adverb)" style="margin-right:10px"></div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions2" en-word="adjective" style="margin-right:10px"></div>
            </div>
            <div class="en-questions2-buttons" style="padding-top:20px">
            </div>
        </div>
        <div class="en-line"></div>

        <div class="form-content-item en-list-item">
            <div>He’s such an idiot</div>
            <div class="clearfix">
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions3" en-word="subject" style="margin-right:10px">ubject</div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions3" en-word="(be) verb" style="margin-right:10px"></div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions3" en-word="such (adverb)" style="margin-right:10px"></div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions3" en-word="a/an" style="margin-right:10px"></div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions3" en-word="noun (singular)" style="margin-right:10px"></div>
            </div>
            <div class="en-questions3-buttons" style="padding-top:20px">
            </div>
        </div>
        <div class="en-line"></div>

        <div class="form-content-item en-list-item">
            <div>They’re such idiots</div>
            <div class="clearfix">
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions4" en-word="subject" style="margin-right:10px"></div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions4" en-word="(be) verb" style="margin-right:10px"></div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions4" en-word="such (adverb)" style="margin-right:10px"></div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions4" en-word="noun (plural)" style="margin-right:10px"></div>
            </div>
            <div class="en-questions4-buttons" style="padding-top:20px">
            </div>
        </div>
        <div class="en-line"></div>

        <div class="form-content-item en-list-item">
            <div>It was such a good film</div>
            <div class="clearfix">
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions5" en-word="subject" style="margin-right:10px">subject</div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions5" en-word="(be) verb" style="margin-right:10px"></div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions5" en-word="such (adverb)" style="margin-right:10px"></div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions5" en-word="a/an" style="margin-right:10px"></div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions5" en-word="adjective" style="margin-right:10px"></div>
                <div class="en-table-blank en-font-small en-droptarget pull-left" en-compare="questions5" en-word="noun (singular)" style="margin-right:10px"></div>
            </div>
            <div class="en-questions5-buttons" style="padding-top:20px">
            </div>
        </div>
        <div class="en-line"></div>
    </div>

    <!--template은 data-role=button이 작동이 되질 않는다. (그래서 km-widget km-button을 수동으로 클래스에 추가)-->
    <script type="text/x-kendo-template" class="en-questions1">
        <button data-role="button" class="km-widget km-button km-small en-draggable" en-compare="#:compare#">#:word#</button>
    </script>

    <script type="text/x-kendo-template" class="en-questions2">
        <button data-role="button" class="km-widget km-button km-small en-draggable" en-compare="#:compare#">#:word#</button>
    </script>

    <script type="text/x-kendo-template" class="en-questions3">
        <button data-role="button" class="km-widget km-button km-small en-draggable" en-compare="#:compare#">#:word#</button>
    </script>

    <script type="text/x-kendo-template" class="en-questions4">
        <button data-role="button" class="km-widget km-button km-small en-draggable" en-compare="#:compare#">#:word#</button>
    </script>

    <script type="text/x-kendo-template" class="en-questions5">
        <button data-role="button" class="km-widget km-button km-small en-draggable" en-compare="#:compare#">#:word#</button>
    </script>
    <!-- END_CUSTOM_CODE_viewType8 -->
</div>
