<style>
.en-table-borderless > tbody > tr > td, .en-table-borderless > tbody > tr > th, .en-table-borderless > tfoot > tr > td, .en-table-borderless > tfoot > tr > th, .en-table-borderless > thead > tr > td, .en-table-borderless > thead > tr > th {
    border: none;
}

.en-table-align-middle > tbody > tr > td, .en-table-align-middle > tbody > tr > th, .en-table-align-middle > tfoot > tr > td, .en-table-align-middle > tfoot > tr > th, .en-table-align-middle > thead > tr > td, .en-table-align-middle > thead > tr > th {
     vertical-align: middle;
}

.en-table-nopadding>tbody>tr>td, .en-table-nopadding>tbody>tr>th, .en-table-nopadding>tfoot>tr>td, .en-table-nopadding>tfoot>tr>th, .en-table-nopadding>thead>tr>td, .en-table-nopadding>thead>tr>th {
    padding: 0 5px;
}

.en-table-blank {
    border-bottom:2px solid gray;
    height:100%;
    color: navy;
    min-width:35px;
    min-height:22px
}

.en-font-small {
    font-size:0.8em;
}
</style>
<div data-role="view" data-title="View" data-layout="main" data-model="app.viewType8" data-show="app.viewType8.onShow" data-after-show="app.viewType8.afterShow" id="viewType8Screen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <a data-role="backbutton" data-align="left">Back</a>

            <span data-bind="text: strings.viewType8.title"></span>

            <a data-align="right" data-role="button" class="nav-button" href="#/">Index</a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_viewType8 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="form-content en-list">
        <div class="form-content-item en-list-item">
            <label id="textInstructionField" class="km-label-above field field--text-block">
                <span class="field__label" data-bind="text: strings.viewType1.viewType1Model.editableListForm1.textInstruction.title"></span>
                <div class="textBlock field__content">Look at the sentences and put the parts of speech in the gaps</div>
            </label>
        </div>
        <div class="en-line"></div>
        <div class="form-content-item en-list-item">
            <div>He’s so messy</div>
            <div class="clearfix">
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
            </div>
            <div style="padding-top:20px">
                <button data-role="button" class="km-small">(be) verb</button>
                <button data-role="button" class="km-small">subject</button>
                <button data-role="button" class="km-small">adjective</button>
                <button data-role="button" class="km-small">so (adverb)</button>
            </div>
        </div>
        <div class="en-line"></div>

        <div class="form-content-item en-list-item">
            <div>They’re really nice</div>
            <div class="clearfix">
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
            </div>
            <div style="padding-top:20px">
                <button data-role="button" class="km-small">(be) verb</button>
                <button data-role="button" class="km-small">adjective</button>
                <button data-role="button" class="km-small">subject</button>
                <button data-role="button" class="km-small">really (adverb)</button>
            </div>
        </div>
        <div class="en-line"></div>

        <div class="form-content-item en-list-item">
            <div>He’s such an idiot</div>
            <div class="clearfix">
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
            </div>
            <div style="padding-top:20px">
                <button data-role="button" class="km-small">(be) verb</button>
                <button data-role="button" class="km-small">subject</button>
                <button data-role="button" class="km-small">noun (singular)</button>
                <button data-role="button" class="km-small">a/an</button>
                <button data-role="button" class="km-small">such</button>
            </div>
        </div>
        <div class="en-line"></div>

        <div class="form-content-item en-list-item">
            <div>They’re such idiots</div>
            <div class="clearfix">
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
            </div>
            <div style="padding-top:20px">
                <button data-role="button" class="km-small">(be) verb</button>
                <button data-role="button" class="km-small">subject</button>
                <button data-role="button" class="km-small">noun (plural)</button>
                <button data-role="button" class="km-small">such</button>
            </div>
        </div>
        <div class="en-line"></div>

        <div class="form-content-item en-list-item">
            <div>It was such a good film</div>
            <div class="clearfix">
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
                <div class="en-table-blank en-font-small pull-left" style="margin-right:10px">&nbsp;</div>
            </div>
            <div style="padding-top:20px">
                <button data-role="button" class="km-small">(be) verb</button>
                <button data-role="button" class="km-small">subject</button>
                <button data-role="button" class="km-small">noun (singular)</button>
                <button data-role="button" class="km-small">such (adverb)</button>
                <button data-role="button" class="km-small">a/an</button>
                <button data-role="button" class="km-small">adjective</button>
            </div>
        </div>
        <div class="en-line"></div>

    </div>
    <!-- END_CUSTOM_CODE_viewType8 -->
</div>