<div data-role="view" data-title="View" data-layout="main" data-model="app.viewType9" data-init="app.viewType9.onInit" data-show="app.viewType9.onShow" data-after-show="app.viewType9.afterShow" data-before-hide="app.viewType9.beforeHide" id="viewType9Screen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: strings.viewType9.title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#/">Index</a>
        </div>
    </header>

    <!-- START_CUSTOM_CODE_viewType9 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="form-content en-list">
        <div class="form-content-item en-list-item">
            <label id="textInstructionField" class="km-label-above field field--text-block">
                <span class="field__label" data-bind="text: strings.viewType1.viewType1Model.editableListForm1.textInstruction.title"></span>
                <div class="textBlock field__content">Decide if these accidents are serious and put them on the cline (drag and drop)</div>
            </label>
        </div>
        <div class="en-line"></div>
        <div class="en-sticky-source form-content-item en-list-item">
            <div class="en-sticky-dummy" en-fixed="no"></div> 
            <div class="en-sticky-content"></div>
        </div>
        <div class="en-line"></div>
        <div class="form-content-item en-list-item">
            <div class="en-question-box">
                <div class="en-vline" style="position:absolute; top:0; left:50%; height:100%"></div>
                <div class="en-clinebox">
                    <div style="">Serious</div>
                    <div style="position:relative; width:100%">
                        <div style="position:absolute; left:50%; width:80%">
                            <div class="en-clinebox-answer en-droptarget" style="position:relative; left:-50%; min-width:250px;" en-compare="1"></div>
                            <div class="en-clinebox-answer en-droptarget" style="position:relative; left:-50%; min-width:250px;" en-compare="2"></div>
                        </div>
                    </div>
                </div>
                <div class="en-clinebox" style="background-color:#F49650;">
                    <div style="">Quite serious</div>
                    <div style="position:relative; width:100%; height:100%">
                        <div class="en-clinebox-answer en-droptarget pull-left" style="width:45%;" en-compare="3"></div>
                        <div class="pull-left" style="width:10%; height:30px; border-bottom:1px solid #dadada;"></div>
                        <div class="en-clinebox-answer en-droptarget pull-left" style="width:45%; min-height:36px" en-compare="3"></div>
                    </div>
                </div>
                <div class="en-clinebox" style="background-color:#9ABC61;">
                    <div style="">Not serious</div>
                    <div style="position:relative; width:100%">
                        <div style="position:absolute; left:50%; width:80%">
                            <div class="en-clinebox-answer en-droptarget" style="position:relative; left:-50%; min-width:250px;" en-compare="4"></div>
                            <div class="en-clinebox-answer en-droptarget" style="position:relative; left:-50%; min-width:250px;" en-compare="5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-kendo-template" class="en-sentences-template">
        <div class="en-draggable" style="cursor:pointer;" en-compare="#:hierarchy#">#:sentence#</div>
    </script>
    <!-- END_CUSTOM_CODE_viewType9 -->
</div>