<div data-role="view" data-title="View" data-layout="main" data-model="app.viewType11" data-show="app.viewType11.onShow" data-after-show="app.viewType11.afterShow" id="viewType11Screen" class="screen">
    <div id="viewType11Model" class="form-view screen__content screen__content--form add-item-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">


                    <label id="dateField" class="field km-listview-label field--date">
                        <span class="field__label" data-bind="text: strings.viewType11.viewType11Model.editableListForm.date.title"></span>


                        <input id="date" data-bind="value: addFormData.date" type="date">

                    </label>
                </li>
            </ul>

            <div class="button-group">
            </div>
        </form>
        <!-- START_CUSTOM_CODE_viewType11Model -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_viewType11Model -->
    </div>
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <a data-role="backbutton" data-align="left">Back</a>

            <span data-bind="text: strings.viewType11.title"></span>

            <a data-align="right" data-role="button" class="nav-button" href="#/">Index</a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_viewType11 -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_viewType11 -->
</div>